<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.aerolinea.control.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Principal</servlet-name>
        <servlet-class>com.aerolinea.control.Principal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usuarios</servlet-name>
        <servlet-class>com.aerolinea.control.Usuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Paises</servlet-name>
        <servlet-class>com.aerolinea.control.Paises</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Roles</servlet-name>
        <servlet-class>com.aerolinea.control.Roles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Aeropuertos</servlet-name>
        <servlet-class>com.aerolinea.control.Aeropuertos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Aviones</servlet-name>
        <servlet-class>com.aerolinea.control.Aviones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usuarios2</servlet-name>
        <servlet-class>com.aerolinea.control.Usuarios2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>
            Login
        </welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>Principal</servlet-name>
        <url-pattern>/Principal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuarios</servlet-name>
        <url-pattern>/Usuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Paises</servlet-name>
        <url-pattern>/Paises</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Roles</servlet-name>
        <url-pattern>/Roles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Aeropuertos</servlet-name>
        <url-pattern>/Aeropuertos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Aviones</servlet-name>
        <url-pattern>/Aviones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuarios2</servlet-name>
        <url-pattern>/Usuarios2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
